<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="val">
        <button @click="addTodo(val)">Add</button>
        <hr>
        <ul>
            <li v-for="(Item,index) in List">{{index}} —— {{Item}}</li>
        </ul>
    </div>
</body>
</html>
<script src="./js/vue.js"></script>
<script type='text/javascript'>
   new Vue({
       el:'#app',
       data:{
           List:["张三","李四","王五","夏六"],
           val:''
       },
       methods:{
           addTodo(){
            //this.List.unshift(val)
            //不传val
            this.List.unshift(this.val);
            this.val=''
           }
       }
   })
</script>